@font-face {
    font-family: 'clock';
    src: url('better-vcr5.1.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('Helvetica-Bold.ttf');
    font-display: swap;
}